{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
        <link rel="stylesheet" href="{% static 'pmf/styles/style.css' %}">
    </head>
    <body>
    <div class="container">
    <div class="screen">
        <h1 style="display: flex; align-items: center;justify-content: center;color: white;margin-top: 100px;"> Register Students </h1>
    </div>
        <div class="screen">
            <div class="screen__content">

                <form class="login" action="{% url 'students' %}" method="POST">
                    {% csrf_token %}
                    
                    <div class="login__field">
                        <i class="logain__icon fas fa-user"></i>
                            <input type="text"
                             class="login__input"
                             id="name"
                             name="name"
                             required
                             placeholder="Name">
                        </i>
                    </div>
                    <div class="login__field">
                        <i class="logain__icon fas fa-user"></i>
                            <input type="text"
                            class="login__input"
                            id="surname"
                            name="surname"
                            required
                            placeholder="Surname">
                         </i>
                    </div>
                    <div class="login__field">
                        <i class="logain__icon fas fa-user"></i>
                            <input type="text"
                            class="login__input"
                            id="jmbg"
                            name="jmbg"
                            required
                            placeholder="JMBG">
                         </i>
                    </div>
                    <div class="login__field">
                        <i class="logain__icon fas fa-user"></i>
                            <input type="text"
                            class="login__input"
                            id="indexNumber"
                            name="indexNumber"
                            required
                            placeholder="IndexNumber">
                         </i>
                    </div>

                    <button class="button login__submit">
                        <span class="button__text">Register now </span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>
                {% if response %}
                <button disabled class="button login__submit">
                    <span class="button__text">{{response}}</span>
                </button>
              
                {%endif%}
                
               
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
     
    </body> 
</html>